---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="intro" id="intro">
  <Fragment slot="lead">
    text
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
